.SearchFlightsForm {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
	width: 300px;

	fieldset {
		width: 100%;
		border: none;
		border-radius: 0;
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	label {
		text-align: start;
		display: flex;
		align-items: center;
		gap: 5px;
	}

	input {
		height: 1.5rem;
	}

	legend {
		text-align: start;
		font-size: 1.2rem;
		margin-bottom: 10px;
	}
}

.filtersLoading {
	width: 300px;
	display: flex;
	justify-content: center;
}

.companiesBlock {
	span {
		display: inline-block;
		width: 150px;
		white-space: nowrap;
		text-align: start;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	label {
		width: 100%;
		justify-content: space-between;

		div {
			height: 1.5rem;
		}
	}
}

.submit {
	width: 200px;
}

.priceBlock {
	gap: 5px;

	span {
		display: inline-block;
		width: 30px;
		text-align: start;
	}
}
