.FlightHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 10px;
	height: 50px;
	background: blue;
}

.hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid blue;
	margin: 1em 0;
	padding: 0;
}
